<div class="row">
  <div class="col d-flex justify-content-center">
    <h3>Editar Usuário</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-form-field style="width: 100%">
      <input
        matInput
        placeholder="Nome"
        [formControl]="nomeForm"
        required
      />
      <mat-error *ngIf="nomeForm.hasError('required')">Insira o nome do usuário</mat-error>
      <mat-error *ngIf="nomeForm.hasError('minLength')">O nome deve conter mais de 4 caracteres</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <button mat-raised-button (click)="salvar()" class="btn-block" color="primary"><mat-icon>check</mat-icon></button>
  </div>
</div>
