.cabecalho {
    min-width: 300px;
    @media screen and (max-device-width: 720px) {
        min-width: 0px;
    }
}

.parecer {
    background-color: #ffaf502e;
}

.pareceres {
    max-height: 60vh;
    overflow: auto;
    @media screen and (max-device-width: 1000px) {
        max-height: 60vh;
    }
    @media screen and (max-device-width: 300px) {
        max-height: 70vh;
    }
    @media screen and (max-device-height: 600px) {
        max-height: 55vh;
    }
}