<div class="row">
  <div class="col d-flex justify-content-center">
    <h3>Pareceres</h3>
  </div>
</div>
<div class="row">
  <div class="col" style="width: 300px">
    <div *ngIf="!loading">
      <div *ngIf="pareceres.length > 0; else elseBlock">
        <div class="col pareceres">
          <div *ngFor="let parecer of pareceres" class="card mt-2 parecer" style="max-width: 250px">
            <div class="card-body">
              <h6 class="card-title"><b>{{ parecer.nomeUsuario }}</b></h6>
              <p clas="card-text">{{ parecer.parecer }}</p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="row">
          <div class="col d-flex justify-content-center text-center">
            Não há pareceres neste processo
          </div>
        </div>
      </ng-template>
    </div>
    <loading-spinner *ngIf="loading"></loading-spinner>
  </div>
</div>
