.list-usuario {
    max-height: 55vh;
    overflow: auto;
    @media screen and (max-device-width: 1000px) {
        max-height: 55vh;
    }
    @media screen and (max-device-width: 300px) {
        max-height: 65vh;
    }
    @media screen and (max-device-height: 600px) {
        max-height: 50vh;
    }
}