<mat-card>
  <mat-card-title>
    <span>Usuários</span>
    <button
      *ngIf="!isMobile"
      mat-icon-button color="primary"
      matTooltip="Cadastrar Usuário"
      routerLink="cadastro"
      (click)="openSideNav()"
      aria-label="RegistrationModulo"
      class="float-right btn-blue mx-1"
      >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <mat-card>
      <mat-card-content>
        <div *ngIf="!loading">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Email</th>
                  <th scope="col">Perfis</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios">
                  <td>{{usuario.nome}}</td>
                  <td>{{usuario.email}}</td>
                  <td><span *ngFor="let role of usuario.roles; let i = index">{{i !== 0 ? ', ' : ''}}{{role.nome}}</span></td>
                  <td>
                    <div class="d-flex justify-content-center align-items-center">
                      <button mat-icon-button>
                        <mat-icon color="warn" (click)="deleteUsuario(usuario.id)">delete</mat-icon>
                      </button>
                      <button mat-icon-button routerLink="editar/{{usuario.id}}" (click)="openSideNav()">
                        <mat-icon color="primary">edit</mat-icon>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <loading-spinner *ngIf="loading"></loading-spinner>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
