.action-group {
    position: fixed;
    z-index: 999;
    margin-top: 9%;
    width: 35px;
}

.control-sidebar {
    position: absolute;
    right: 5px;
    width: 35px;
}

.btn-primary {
    border: none;
    background: #13294b;
    box-shadow: none !important;
}