<div class="row">
  <div class="col d-flex justify-content-center text-center">
    <h3>Desvíncular Usuário</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <div *ngIf="!loading">
      <div *ngIf="usuariosParecer.length > 0; else elseBlock">
        <div class="list-usuario">
          <mat-selection-list #list [(ngModel)]="selectedOptions">
            <mat-list-option *ngFor="let usuarioParecer of usuariosParecer" [value]="usuarioParecer">
              {{usuarioParecer.usuario.nome}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <button mat-flat-button color="primary" class="mt-2 btn-block" (click)="onClick()"><mat-icon>check</mat-icon></button>
      </div>
      <ng-template #elseBlock>
        <div class="row" style="max-width: 250px">
          <div class="col d-flex justify-content-center text-center">
            Não há usuários vinculados!
          </div>
        </div>
      </ng-template>
    </div>
    <loading-spinner *ngIf="loading"></loading-spinner>
  </div>
</div>
  