<mat-toolbar color="primary" class="p-0">
  <div class="d-flex justify-content-between col">
    <div>
      <button mat-icon-button class="mt-1" (click)="onClickMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <img src="../../assets/images/softplan_logo.png" width="200" height="50"> 
    </div>
    <div>
      <button mat-icon-button matTooltip="Logout" class="mt-1" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
